<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Diagnosis Cost">
    <meta name="author" content="@Shawn">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Diagnosis Cost in USA</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

    <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand">Patients' payment for different diagnoses in USA</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="\about">About</a></li>
          <li><a href="https://github.com/shawn572/Capstone_TDI">Github</a></li>
          <li><a href="https://www.heroku.com/">Heroku</a></li>
        </ul>
      </div>
            <!--/.nav-collapse -->
    </div>
  </div>
      <br/><br/><br/>
    <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Please enter your diagnosis below:</h2>
          <ul>
                <form id='info' method='post' action='' >
                  <p>Please type the key words in your Diagnosis: <input type='text' name='diagnosis' /><p>
                  <p><input type='submit' value='Submit' /></p>
                  </form>
          </ul>
        </div>
        {{warning | safe}}
      </div>
    </div>
    </div>


    <ol class="breadcrumb">
    <div class="container">
      <div class=""><a href="\">Home</a></div>
    </div>
    </ol>
 
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
